/* CSS برای انیمیشن فلیپ دائمی لوگو */
.logo-container {
	width: 120px;
  height: 80px;
  position: fixed;
  top: 10px;
  right: 100px;   


    perspective: 1000px;
    margin: 0 auto;
}

.logo-flip {
   
	
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    animation: logoFlip 5s infinite ease-in-out;
}

.logo-front, .logo-back {
	
    position:sticky;
    width: 100%;
    height: 100%;
    left: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.logo-front {
    background-color: #f8f9fa;
    z-index: 2;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.logo-back {
	/*position:relative;
	left:50px;*/
    background-color: #4361ee;
    transform: rotateY(180deg);
    color: white;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-text {
	position:absolute;
	top:42px;
	left:60px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

@keyframes logoFlip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}

/* نگه داشتن انیمیشن هنگام هاور */
.logo-container:hover .logo-flip {
    animation-play-state: paused;
}